<h1>Editing account</h1>

<% form_for([current_user, @account]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :bank_id %><br />
    
    <%= f.select 'bank_id', Bank.all.collect {|bank| [bank.name, bank.id]} %>
  </p>
  <p>
    <%= f.label :account_number %><br />
    <%= f.text_field :account_number %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', [current_user, @account] %> |
<%= link_to 'Back', user_accounts_path %>